@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37.50 36.36% 95.69%;
    --foreground: 8.89 27.84% 19.02%;
    --card: 37.50 36.36% 95.69%;
    --card-foreground: 8.89 27.84% 19.02%;
    --popover: 37.50 36.36% 95.69%;
    --popover-foreground: 8.89 27.84% 19.02%;
    --primary: 123.04 46.20% 33.53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 124.62 39.39% 93.53%;
    --secondary-foreground: 124.48 55.37% 23.73%;
    --muted: 33.75 34.78% 90.98%;
    --muted-foreground: 15.00 25.29% 34.12%;
    --accent: 122 37.50% 84.31%;
    --accent-foreground: 124.48 55.37% 23.73%;
    --destructive: 0 66.39% 46.67%;
    --destructive-foreground: 0 0% 100%;
    --border: 33.91 27.06% 83.33%;
    --input: 33.91 27.06% 83.33%;
    --ring: 123.04 46.20% 33.53%;
    --chart-1: 122.42 39.44% 49.22%;
    --chart-2: 122.79 43.43% 38.82%;
    --chart-3: 123.04 46.20% 33.53%;
    --chart-4: 124.48 55.37% 23.73%;
    --chart-5: 125.71 51.22% 8.04%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px !important;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.text-hero {
  font-weight: 800;
}

@media (max-width: 768px) {
  .cl-userPreviewTextContainer {
    display: none;
  }
}
